<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Violet</title>
  
  <link rel="icon" href="https://img.icons8.com/color-glass/15/null/violet-flower.png">
  <link rel="stylesheet" href="style.css">
  <script src="https://unpkg.com/just-jsx"></script>

  <script src="script.js" jsx defer async type="module"></script>
</head>
<body>
  <main class="shadow">
    <div id="messages">
      <div class="center">
        <b style="color:var(--primary)">Welcome to violet <img src="https://img.icons8.com/color-glass/15/null/violet-flower.png"/></b>
        <p>Send and recieve limitless messages</p>
      </div>
    </div>
    <div id="inputs">
      <input class="shadow" type="text">
      <button class="shadow"><img src="https://img.icons8.com/ios-glyphs/20/FFFFFF/filled-sent.png"/></button>
    </div>
  </main>
  <nav class="shadow">
    <a href="https://icons8.com">
      <img src="https://img.icons8.com/color/32/null/icons8-new-logo.png"/>
    </a>
  </nav>
</body>
</html>